Importing Important Libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

DATA COLLECTION

In [3]:
stroke_data = pd.read_csv('/content/aiproject1.csv')

DATA PROCESSING

In [4]:
stroke_data.shape

(547, 11)

In [5]:
stroke_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             547 non-null    int64
 1   age                547 non-null    float64
 2   hypertension       547 non-null    int64
 3   heart_disease      547 non-null    int64
 4   ever_married       547 non-null    int64
 5   work_type          547 non-null    float64
 6   Residence_type     547 non-null    int64
 7   avg_glucose_level  547 non-null    float64
 8   bmi                501 non-null    float64
 9   smoking_status     407 non-null    float64
 10  stroke             547 non-null    int64
dtypes: float64(5), int64(6)
memory usage: 47.1 KB

In [6]:
# checking for missing values
stroke_data.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                   46
smoking_status       140
stroke                 0
dtype: int64

In [7]:
#deleting rows with missing values
stroke_data=stroke_data.dropna(how="any")

In [8]:
#cheking whether the above deletion was successful
stroke_data.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [9]:
stroke_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380 entries, 0 to 544
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             380 non-null    int64
 1   age                380 non-null    float64
 2   hypertension       380 non-null    int64
 3   heart_disease      380 non-null    int64
 4   ever_married       380 non-null    int64
 5   work_type          380 non-null    float64
 6   Residence_type     380 non-null    int64
 7   avg_glucose_level  380 non-null    float64
 8   bmi                380 non-null    float64
 9   smoking_status     380 non-null    float64
 10  stroke             380 non-null    int64
dtypes: float64(5), int64(6)
memory usage: 35.6 KB

In [10]:
#getting the final shape
stroke_data.shape

(380, 11)

In [11]:
# checking the distribution of Target Variable
stroke_data['stroke'].value_counts()

0    200
1    180
Name: stroke, dtype: int64

In [12]:
# statistical measures about the data
stroke_data.describe()

           gender         age  ...  smoking_status      stroke
count  380.000000  380.000000  ...      380.000000  380.000000
mean     0.371053   57.052632  ...        0.360526    0.473684
std      0.483723   18.812991  ...        0.403180    0.499965
min      0.000000   12.000000  ...        0.000000    0.000000
25%      0.000000   43.000000  ...        0.000000    0.000000
50%      0.000000   59.000000  ...        0.000000    0.000000
75%      1.000000   73.250000  ...        0.500000    1.000000
max      1.000000   82.000000  ...        1.000000    1.000000

[8 rows x 11 columns]

NOW SPLITING DATA INTO FEATURES AND TARGET

In [13]:
X = stroke_data.drop(columns='stroke', axis=1)
Y = stroke_data['stroke']

In [14]:
#printing features 
print(X)

     gender   age  hypertension  ...  avg_glucose_level   bmi  smoking_status
0         1  67.0             0  ...             228.69  36.6             0.5
2         1  80.0             0  ...             105.92  32.5             0.0
3         0  49.0             0  ...             171.23  34.4             1.0
4         0  79.0             1  ...             174.12  24.0             0.0
5         1  81.0             0  ...             186.21  29.0             0.5
..      ...   ...           ...  ...                ...   ...             ...
538       0  16.0             0  ...             155.43  27.3             0.0
540       0  30.0             0  ...              80.19  20.4             0.0
541       1  29.0             0  ...              60.34  29.6             0.5
542       0  54.0             0  ...              79.30  30.6             0.5
544       1  42.0             0  ...             210.48  71.9             0.0

[380 rows x 10 columns]

In [15]:
#printing target variable
print(Y)

0      1
2      1
3      1
4      1
5      1
      ..
538    0
540    0
541    0
542    0
544    0
Name: stroke, Length: 380, dtype: int64

Splitting the Data into Training data & Test Data

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [17]:
print(X.shape, X_train.shape, X_test.shape)

(380, 10) (304, 10) (76, 10)

NOW AS WE SELECTED THE LOGISTIC REGRESSION MODEL:-

SO NOW THE MODEL TRAINING WITH THE TRAINING DATA

In [18]:
selected_model = LogisticRegression()

In [19]:
selected_model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

NOW FINDING THE ACCURACY OF THE MODEL

In [20]:
#first testing for training data
X_train_prediction = selected_model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [21]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.7335526315789473

In [22]:
#first testing for training data

X_test_prediction = selected_model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [23]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.7236842105263158

In [32]:

a=input("Enter your gender \nFor Male type M \nFor Female type F\n")
if a=="M":
  a=1
elif a=="F":
  a=0
# print(type(a),a)
# # else:
# #   a=input("Enter your gender \nFor Male type M \nFor Female type F\n")

b=input("Do you have hypertension  \nFor yes type Y \nFor Not hypertension type N\n")
if b=="Y":
  b=1
elif b=="N":
  b=0
# print(type(b),b)
c=input("Do you have heartdisease  \nFor yes type Y \nFor heartdisease Not  type N\n")
if c=="Y":
  c=1
elif c=="N":
  c=0
# print(type(c),c)
d=input("Is you Married \nFor Married type M \nFor NotMarried type N\n")
if d=="M":
  d=1
elif d=="N":
  d=0
# print(type(d),d)
e=input("Enter your type of work \nFor Govt type G \nFor Private type P\nFor selfemployed type S\n")
if e=="G":
  e=1
elif e=="P":
  e=0.5
elif e=="S":
  e=0
print(type(e),e)
f=float(input("Enter your average glucose level\n"))
g=float(input("Enter your average BMI\n"))
h=input("Do your Smoke\nIf you smoke regularly  type R \nFor formerly smoking type F\nFor never smoked type N\n")
if h=="R":
  h=1
elif h=="F":
  h=0.5
elif h=="N":
  h=0
i=int(input("Enter ur age \n"))

# input_data = (a,i,b,c,d,e,f,g,h)
input_data = (a,i,b,c,d,e,1,f,g,h)
# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = selected_model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('You cannot have stroke')
else:
  print('You can have  stroke')

Enter your gender
For Male type M
For Female type F
M
Do you have hypertension
For yes type Y
For Not hypertension type N
N
Do you have heartdisease
For yes type Y
For heartdisease Not  type N
N
Is you Married
For Married type M
For NotMarried type N
N
Enter your type of work
For Govt type G
For Private type P
For selfemployed type S
P
<class 'float'> 0.5
Enter your average glucose level
105
Enter your average BMI
45
Do your Smoke
If you smoke regularly  type R
For formerly smoking type F
For never smoked type N
N
Enter ur age
19
[0]
The Person cannot have stroke